nav{


background:#111;


display:flex;


justify-content:space-between;


align-items:center;


padding:20px 70px;


}





.logo{

font-size:20px;

font-weight:600;

color:#8fcf9b;

letter-spacing:1px;

text-transform:uppercase;

}






ul{


display:flex;


gap:30px;


list-style:none;


}




li{


position:relative;


}




a{


text-decoration:none;


color:white;


font-weight:bold;


transition:.3s;


}




a:hover{


color:#8fcf9b;


}






/* MENU DESPLEGABLE */


.submenu{


display:none;


position:absolute;


top:35px;


left:0;


background:#ffffff;


width:230px;


box-shadow:0px 5px 15px #333;


border-radius:10px;


overflow:hidden;


z-index:10;


}




.dropdown:hover .submenu{


display:block;


}





.submenu a{


display:block;


padding:15px;


color:#333;


font-weight:normal;


}



.submenu a:hover{


background:#dff3df;


color:#4f8f5b;


}