body{

margin:0;

font-family:Arial;

background:#f5f1ea;

}




.banner-reserva{


height:350px;


background-image:url("../imagenes/reserva-banner.jpg");


background-size:cover;


background-position:center;


display:flex;


flex-direction:column;


justify-content:center;


align-items:center;


color:white;


text-align:center;


}



.banner-reserva h1{


font-size:50px;


text-shadow:2px 2px 5px black;


}




.reserva{


width:450px;


background:white;


margin:40px auto;


padding:35px;


border-radius:15px;


box-shadow:0 5px 15px #ccc;


}





.reserva h2{


text-align:center;


color:#5fa86c;


}




form{


display:flex;


flex-direction:column;


}




label{


margin-top:15px;


font-weight:bold;


}




input,select{


padding:12px;


margin-top:5px;


border-radius:8px;


border:1px solid #ccc;


}





button{


margin-top:25px;


padding:15px;


background:#8fcf9b;


border:none;


color:white;


border-radius:25px;


font-size:17px;


cursor:pointer;


}





button:hover{


background:#5fa86c;


}




#mensaje{


text-align:center;


margin-top:20px;


color:#5fa86c;


font-weight:bold;


}